<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
	<connectionStrings>
		<add name="conn" connectionString="Server=4c74e56e-b3b3-4595-a483-a6f8008039f4.sqlserver.sequelizer.com;Database=db4c74e56eb3b34595a483a6f8008039f4;User ID=gzchsrgwtzsrmbnv;Password=cRd5tun7rbe3nHEKZLEmxK55J25jvNb8udEtEK33RhaRKuQkzgXZFtByUguAycKL;"/>
	</connectionStrings>
</configuration>
